{
  "name": "ReturningAListDemo",
  "label": "Returning A List",
  "description": "Sample Code for Returning a List",
  "group": "",
  "artifactName": "",
  "packageVersion": "",
  "codeVersion": "",
  "author": "",
  "commands": []
}